<template>
    <!--NavbarforMobile-->
        <nav class="navbar is-fixed-bottom" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item">
                    <img src="" width="112" height="28">
        <!--add a span to cover up stuff? not sure-->
                </a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample"> <!-- add is-active to turn into a cross-->
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div class="navbar-menu"> <!--add is-active to display contents-->
                <div class="navbar-start ">
                    <a class="navbar-item" href="home.html">
                        Home
                    </a>

                    <a class="navbar-item" href="course-content.html">
                        Course Content
                    </a>
        
                    <a class="navbar-item" id="points_mobile">
                        Points <i class="fa fa-caret-down"></i>
                    </a>
                    
                    <div class="indent" id="points_dropdown_submenu_mobile">
                        <a class="navbar-item" href="points-class1.html">Class 1</a>
                        <a class ="navbar-item" href="points-class2.html">Class 2</a>
                        <a class ="navbar-item" href="points-class3.html">Class 3</a>
                        <a class ="navbar-item" href="points-class4.html">Class 4</a>
                        <a class ="navbar-item" href="points-class5.html">Class 5</a>
                    </div>
                    
                    
                    
                    
                    
                    
                    <a class="navbar-item" href="about-me.html">
                        About Me
                    </a>
                    
                    <a class="navbar-item" href="faqs.html">
                        FAQs
                    </a>

                </div>
                <div class="navbar-end">
                </div>
            </div>
        </nav> 
        
        <!--/NavbarforMobile-->
        
    

</template>

<style>
.navbar{
    display:none !important;
}

/*if screen width is smaller than 550px, then switch to popup menu!*/
@media screen and (max-width: 550px) {   
    .navbar{
    display:block !important;
    }
}
</style>


<script>
    //navbar stuff
    var burger_button = document.querySelector('[role="button"]:last-of-type');
    var navbar_menu = document.getElementsByClassName("navbar-menu")[0];

    /*
    document.addEventListener('click',(e)=>{
        if(e.target.classList[1] == 'burger'){
            burgerClicked(e);
        }
    });*/
    
     burger_button.addEventListener('click', burgerClicked);
    
    function burgerClicked(){
        //when burger is pressed
        if(burger_button.classList.contains("is-active")){
            burger_button.classList.remove("is-active");
            navbar_menu.classList.remove("is-active");
        }else{
            burger_button.classList.add("is-active");
            navbar_menu.classList.add("is-active");
        }
    }
    
    
    var points_dropdown_submenu_mobile = document.getElementById("points_dropdown_submenu_mobile");
    var points_mobile = document.getElementById("points_mobile");
    points_dropdown_submenu_mobile.style.display ="none";
    points_mobile.addEventListener('click', ()=>{
        if(points_dropdown_submenu_mobile.style.display == "none"){
            points_dropdown_submenu_mobile.style.display = "block";
        }else{
            points_dropdown_submenu_mobile.style.display = "none"
        }
    });
</script>