<template>
    <!--NavbarforMobile-->
        <nav class="navbar is-fixed-bottom" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item">
                    <img src="" width="112" height="28">
        <!--add a span to cover up stuff? not sure-->
                </a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample"> <!-- add is-active to turn into a cross-->
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div class="navbar-menu"> <!--add is-active to display contents-->
                <div class="navbar-start ">
                    <a class="navbar-item" href="home.html">
                        Home
                    </a>

                    <a class="navbar-item" href="course-content.html">
                        Course Content
                    </a>
        
                    <a class="navbar-item" href="points.html" id="points_mobile">
                        Points
                    </a>
                        
                    
                    
                    
                    
                    
                    <a class="navbar-item" href="about-me.html">
                        About Me
                    </a>
                    
                    <a class="navbar-item" href="faqs.html">
                        FAQs
                    </a>

                </div>
                <div class="navbar-end">
                </div>
            </div>
        </nav> 
        
        <!--/NavbarforMobile-->
        
    

</template>

<style>
.navbar{
    display:none !important;
}

/*if screen width is smaller than 550px, then switch to popup menu!*/
@media screen and (max-width: 550px) {   
    .navbar{
    display:block !important;
    }
}
</style>


<script>
    //navbar stuff
    var burger_button = document.querySelector('[role="button"]:last-of-type');
    var navbar_menu = document.getElementsByClassName("navbar-menu")[0];

    
     burger_button.addEventListener('click', burgerClicked);
    
    function burgerClicked(){
        //when burger is pressed
        if(burger_button.classList.contains("is-active")){
            burger_button.classList.remove("is-active");
            navbar_menu.classList.remove("is-active");
        }else{
            burger_button.classList.add("is-active");
            navbar_menu.classList.add("is-active");
        }
    }
    
</script>